In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/uml/Movie csv.csv")

In [3]:
data.head()

,Movie Name,Genere,Language,Actor,Actress,Rating,Comments
0,Radhe,Action,Hindi,Salman khan,Disha Patani,4.0,good
1,Flight,Action,Hindi,Mohit Chadda,NaN,3.0,good
2,Mumbi Saga,Action,Hindi,"John Abraham,Imran Hashmi",NaN,5.0,good
3,Vijay The Master,Action,Hindi,"Vijay,Vijay Sethupathi",Malavika,4.0,better
4,Chakra Ka Rakshak,Action,Hindi,Vishal,Regina Casaandra,4.0,better

In [4]:
data = data.drop(['Language', 'Actor', 'Actress', 'Comments'], axis=1)
data.head()

          Movie Name  Genere  Rating
0              Radhe  Action     4.0
1             Flight  Action     3.0
2         Mumbi Saga  Action     5.0
3   Vijay The Master  Action     4.0
4  Chakra Ka Rakshak  Action     4.0

In [5]:
data.columns

Index(['Movie Name', 'Genere', 'Rating'], dtype='object')

In [6]:
data.head()

          Movie Name  Genere  Rating
0              Radhe  Action     4.0
1             Flight  Action     3.0
2         Mumbi Saga  Action     5.0
3   Vijay The Master  Action     4.0
4  Chakra Ka Rakshak  Action     4.0

In [7]:
data["Genere"].unique()

array(['Action', 'Action,Biopic', 'Action,Thriler', ' Action', 'Biopic',
       'Story', 'Action,Crime', 'Action ', 'Actoin ', 'Comedy',
       'Crime,Drama', 'Comedy,Drama', 'Horoor', 'Drama', 'Comedy,horoor',
       'Romance,Drama', 'Story,Drama', 'Story,Romance',
       'Action,Romance,Drama', 'Story,Motivation', 'Critics',
       'Comedy,Action,Drama', 'Romance,Drama,Action', 'Story,Darama',
       'comedy', 'Comedy,Horoor', 'History,Drama', 'Drama,Comedy',
       'Drama,Action', 'Drama,Actiom', 'Drama ', 'Biopic,Sports',
       'Sports', 'Action,Drama', 'Action,History', 'Drama,Science',
       'Drama,Romance'], dtype=object)

In [8]:
g = ['Action', 'Biopic', 'Thriler',
       'Story', 'Crime','Comedy',
       'Drama', 'Horoor', 
       'Romance,', 'Motivation', 'Critics',
       'History', 'Drama,Comedy', 'Sports',
       'Science',]

In [9]:
g

['Action',
 'Biopic',
 'Thriler',
 'Story',
 'Crime',
 'Comedy',
 'Drama',
 'Horoor',
 'Romance,',
 'Motivation',
 'Critics',
 'History',
 'Drama,Comedy',
 'Sports',
 'Science']

In [10]:
s = data["Genere"].str.split(",")
gd = data.drop(["Genere"], axis=1)
pd.concat([gd, s], axis=1)

            Movie Name  Rating             Genere
0                Radhe     4.0           [Action]
1               Flight     3.0           [Action]
2           Mumbi Saga     5.0           [Action]
3     Vijay The Master     4.0           [Action]
4    Chakra Ka Rakshak     4.0           [Action]
..                 ...     ...                ...
120               Veer     4.0  [Action, History]
121         Veer Zaara     4.0            [Drama]
122     Mission Mangal     5.0   [Drama, Science]
123    Half GirlFriend     4.0   [Drama, Romance]
124       Jagga jasoos     4.0            [Drama]

[125 rows x 3 columns]

In [11]:
data.head()

          Movie Name  Genere  Rating
0              Radhe  Action     4.0
1             Flight  Action     3.0
2         Mumbi Saga  Action     5.0
3   Vijay The Master  Action     4.0
4  Chakra Ka Rakshak  Action     4.0

In [12]:
from mlxtend.preprocessing import TransactionEncoder

# lets split all the Genres into Transactions
genres = data['Genere'].str.split('|')
te = TransactionEncoder()
genres = te.fit_transform(genres)
genres = pd.DataFrame(genres, columns = te.columns_)

In [13]:
genres = genres.astype('int')
genres.insert(0, 'Movie Name', data['Movie Name'])

In [14]:
genres

,Movie Name,Action,Action,Action,"Action,Biopic","Action,Crime","Action,Drama","Action,History","Action,Romance,Drama","Action,Thriler",...,Horoor,"Romance,Drama","Romance,Drama,Action",Sports,Story,"Story,Darama","Story,Drama","Story,Motivation","Story,Romance",comedy
0,Radhe,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Flight,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Mumbi Saga,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Vijay The Master,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Chakra Ka Rakshak,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,Veer,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
121,Veer Zaara,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
122,Mission Mangal,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
123,Half GirlFriend,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
124,Jagga jasoos,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
similar_movies = genres.corrwith(genres["veer"])
similar_movies = similar_movies.sort_values(ascending=False)
similar_movies = similar_movies.iloc[1:]
similar_movies.head(20)

KeyError: 'veer'

In [17]:
from ipywidgets import interact

In [19]:
@interact
def recommendation_movie(movie = list(genres.columns)):    
    similar_movies = genres.corrwith(genres[movie])
    similar_movies = similar_movies.sort_values(ascending=False)
    similar_movies = similar_movies.iloc[:]
    return similar_movies.head(20)

interactive(children=(Dropdown(description='movie', options=('Movie Name', ' Action', 'Action', 'Action ', 'Ac…