In [94]:
import numpy as np
import pandas as pd 
import datetime
import seaborn as sn 
import matplotlib.pyplot as plt 
from ipywidgets import interact

In [95]:
data = pd.read_csv("../data/uml/Movie csv.csv")
data.head()

,Movie Name,Genere,Language,Actor,Actress,Rating,Comments
0,Radhe,Action,Hindi,Salman khan,Disha Patani,4.0,good
1,Flight,Action,Hindi,Mohit Chadda,NaN,3.0,good
2,Mumbi Saga,Action,Hindi,"John Abraham,Imran Hashmi",NaN,5.0,good
3,Vijay The Master,Action,Hindi,"Vijay,Vijay Sethupathi",Malavika,4.0,better
4,Chakra Ka Rakshak,Action,Hindi,Vishal,Regina Casaandra,4.0,better

In [96]:
data["Genere"] = data["Genere"].replace((" Action", "Actiom", "Action ", "Actoin ", "Darama", "Drama ", "horoor", "Drama,Actiom", "Story,Darama", "Comedy,horoor"), ("Action", "Action", "Action", "Action", "Drama", "Drama", "Horoor", "Drama,Action", "Story,Drama", "Comedy,Horoor"))

In [97]:
data.shape

(125, 7)

In [98]:
data.columns

Index(['Movie Name', 'Genere', 'Language', 'Actor', 'Actress', 'Rating',
       'Comments'],
      dtype='object')

In [99]:
data = data.drop(['Language', 'Actor', 'Actress', 'Comments'], axis=1)

In [100]:
data.head()

          Movie Name  Genere  Rating
0              Radhe  Action     4.0
1             Flight  Action     3.0
2         Mumbi Saga  Action     5.0
3   Vijay The Master  Action     4.0
4  Chakra Ka Rakshak  Action     4.0

In [101]:
data[data["Genere"]=="Action"][["Movie Name", "Rating"]].sort_values(by = 'Rating',
                ascending = False).head(10).reset_index(drop = True).style.background_gradient(cmap = 'Wistia')

In [102]:
x = data["Genere"].str.split(",")
d = data.drop(["Genere"], axis=1)
pd.concat([d, x], axis=1)

            Movie Name  Rating             Genere
0                Radhe     4.0           [Action]
1               Flight     3.0           [Action]
2           Mumbi Saga     5.0           [Action]
3     Vijay The Master     4.0           [Action]
4    Chakra Ka Rakshak     4.0           [Action]
..                 ...     ...                ...
120               Veer     4.0  [Action, History]
121         Veer Zaara     4.0            [Drama]
122     Mission Mangal     5.0   [Drama, Science]
123    Half GirlFriend     4.0   [Drama, Romance]
124       Jagga jasoos     4.0            [Drama]

[125 rows x 3 columns]

In [103]:
x.explode()

0       Action
1       Action
2       Action
3       Action
4       Action
        ...
122      Drama
122    Science
123      Drama
123    Romance
124      Drama
Name: Genere, Length: 163, dtype: object

In [104]:
data

            Movie Name          Genere  Rating
0                Radhe          Action     4.0
1               Flight          Action     3.0
2           Mumbi Saga          Action     5.0
3     Vijay The Master          Action     4.0
4    Chakra Ka Rakshak          Action     4.0
..                 ...             ...     ...
120               Veer  Action,History     4.0
121         Veer Zaara           Drama     4.0
122     Mission Mangal   Drama,Science     5.0
123    Half GirlFriend   Drama,Romance     4.0
124       Jagga jasoos           Drama     4.0

[125 rows x 3 columns]

In [105]:
from mlxtend.preprocessing import TransactionEncoder

In [106]:
genres = data["Genere"].str.split(",")
te = TransactionEncoder()
genres = te.fit_transform(genres)
genres = pd.DataFrame(genres, columns=te.columns_)
genres.head()

,Action,Biopic,Comedy,Crime,Critics,Drama,History,Horoor,Motivation,Romance,Science,Sports,Story,Thriler,comedy
0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [107]:
genres = genres.astype("int")
genres.insert(0, "Movie Name", data["Movie Name"])
genres

,Movie Name,Action,Biopic,Comedy,Crime,Critics,Drama,History,Horoor,Motivation,Romance,Science,Sports,Story,Thriler,comedy
0,Radhe,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Flight,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Mumbi Saga,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Vijay The Master,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Chakra Ka Rakshak,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,Veer,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
121,Veer Zaara,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
122,Mission Mangal,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
123,Half GirlFriend,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
124,Jagga jasoos,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [108]:
genres = genres.transpose()
genres = genres.rename(columns=genres.iloc[0])
genres = genres.drop(genres.index[0])
genres = genres.astype(int)
genres

,Radhe,Flight,Mumbi Saga,Vijay The Master,Chakra Ka Rakshak,The Power,Khuda Hafiz,Bagi 3,Malang,Dabang 3,...,Toofaan,Jersey,Maidaan,Raone,Ghajni,Veer,Veer Zaara,Mission Mangal,Half GirlFriend,Jagga jasoos
Action,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,1,1,0,0,0,0
Biopic,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Comedy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Crime,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Critics,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Drama,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,1,1,1,1
History,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
Horoor,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Motivation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
Science,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Sports,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
Story,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Thriler,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
comedy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [109]:
@interact
def recommendation_movie(movie = list(genres.columns)):    
    similar_movies = genres.corrwith(genres[movie])
    similar_movies = similar_movies.sort_values(ascending=False)
    similar_movies = similar_movies.iloc[1:]
    return similar_movies.head(20)

interactive(children=(Dropdown(description='movie', options=('Radhe', 'Flight', 'Mumbi Saga', 'Vijay The Maste…

Index(['Radhe', 'Flight', 'Mumbi Saga', 'Vijay The Master',
       'Chakra Ka Rakshak', 'The Power ', 'Khuda Hafiz', 'Bagi 3', 'Malang',
       'Dabang 3',
       ...
       'Toofaan', 'Jersey', 'Maidaan', 'Raone', 'Ghajni', 'Veer', 'Veer Zaara',
       'Mission Mangal', 'Half GirlFriend', 'Jagga jasoos'],
      dtype='object', length=125)

In [111]:
similar_movies = genres.corrwith(genres["Radhe"])
similar_movies = similar_movies.sort_values(ascending=False)
similar_movies = similar_movies.iloc[1:]
similar_movies.head(20)

Pantoon             1.0
Akira               1.0
Article 15          1.0
Kesari              1.0
Parmanu             1.0
Batla House         1.0
Baghi2              1.0
Tiger Jinda Hai     1.0
Madras CafÃ©        1.0
Razi                1.0
Bajrangi Baijaan    1.0
Bothers             1.0
Flight              1.0
Baby                1.0
Coolie No1          1.0
Baghi               1.0
Jay ho              1.0
Singham Returns     1.0
Wazeer              1.0
Raees               1.0
dtype: float64

In [112]:
type(similar_movies.head(20))

pandas.core.series.Series

In [123]:
x = similar_movies.head(5)

In [125]:
dict(x).keys()

dict_keys(['Pantoon', 'Akira', 'Article 15', 'Kesari', 'Parmanu', 'Batla House', 'Baghi2', 'Tiger Jinda Hai', 'Madras CafÃ©', 'Razi', 'Bajrangi Baijaan', 'Bothers ', 'Flight', 'Baby', 'Coolie No1', 'Baghi', 'Jay ho', 'Singham Returns', 'Wazeer ', 'Raees'])